<h2>Delete <u>{displayName}</u> from shopping cart? </h2>
<div class="formWrapper">
  <form id="cartDelete" action="/api/cart" method="DELETE">
    <input type="hidden" name="_method" value="DELETE"/>
    <div class="formError"></div>
    <div class="warning">Warning: This will remove one quantity ({price}€) of the choosen pizza from the shopping cart, are you sure?.</div>
    <input class="hiddenUserIdInput" type="hidden" name="userid" />
    <input type="hidden" name="item" value="{name}" />
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta red">Delete Pizza</button>
    </div>
  </form>
</div>
