<h2>Hey! Welcome to Fresh Pizza Delivery!</h2>
<center><h3>for you with love</h3></center>

<div style="margin-top:20px;">
  <div class="blurb">We offer free pizza for testing purposes, you won't get a pizza using this service, I am sorry! But check this out, let's make an order, should we? It's your first time? Press the green button otherwise just login.</div>

  <div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
  </div>
</div>
