<form id="{formid}" action="/api/cart" method="PUT">
  <input class="hiddenUserIdInput" type="hidden" name="userid" />
  <input type="hidden" name="_method" value="PUT"/>
  <input type="hidden" name="item" value="{menuItem.name}" />
  <div class="col-4">
    <img style="max-width:100%;max-height:100%;" src="{menuItem.imageSrc}" alt="">
    <p class="displayName green">{menuItem.displayName}</p>
    <div class="blurb">{menuItem.description}</div>
    <div class="row">
      <div class="col-6">
        <span class="menucta blueBackground">{menuItem.price}€</span>
      </div>
      <div class="col-6">
          <button class="menucta green" style="max-width:100%" type="submit">Add to cart</button>
      </div>
    </div>
    <div class="row">
      <div class="formError"></div>
    </div>
  </div>
</form>
