<h1>Your current orders list</h1>
<hr />

<table id="ordersListTable">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Mail Sent</th>
      <th>Payed</th>
      <th>Total Price</th>
      <th>Items</th>
    </tr>
  </thead>
  <tbody>
    <tr id="noOrdersMessage">
      <td colspan="5">You have no current orders, place an order from your shopping cart!</td>
    </tr>
  </tbody>
</table>

<div id="moveToCartCTA" class="ctaWrapper">
  <a class="cta green" href="/cart">Go to Shopping Cart</a>
</div>
